<section id="left-list" class="clearfix">
	<table>
		<thead>
			<tr>
				<th><input type="checkbox" /></th>
				<th>Project Name</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<td><input type="checkbox" /></td>
					<td><a>Test Project 1</a></td>
				</tr>
				<tr>
					<td><input type="checkbox"></td>
					<td><a>Test Project 2</a></td>
				</tr>
		</tbody>
	</table>
	<a class="circle-btn hint--right" data-hint="Add a project"><i class="icon-plus"></i></a>
	<a class="circle-btn hint--right" data-hint="Delete selected"><i class="icon-trash"></i></a>
</section>
<section id="right-list" class="clearfix">
	<h1>
		Test Project 1
		<a class="circle-btn hint--right" data-hint="Edit project name"><i class="icon-pencil"></i></a>
	</h1>
	<p>
		Lorem ipsum dolor sit amet,
		consectetur adipiscing elit.
		Nam nec dui vel justo
		consequat pellentesque.
		<a class="circle-btn hint--right" data-hint="Edit description"><i class="icon-pencil"></i></a>
	</p>
	<div class="table-right clearfix">
		<table>
			<tbody>
				<tr>
					<td><input type="checkbox" /></td>
					<td class="manage">John Smith</td>
				</tr>
				<tr>
					<td><input type="checkbox" /></td>
					<td>Jane Doe</td>
				</tr>
				<tr>
					<td><input type="checkbox" /></td>
					<td>Curly Chris</td>
				</tr>
			</tbody>
		</table>
		<a class="circle-btn hint--left" data-hint="Delete selected"><i class="icon-trash"></i></a>
		<a class="circle-btn hint--left" data-hint="Add a collaborator"><i class="icon-plus"></i></a>
	</div>
</section>
