{{>html5}}
	<head>
		{{>meta}}
		<link rel="stylesheet" href="/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/index.css" />
	</head>
	<body>
		<header>
			<nav class="clearfix">
				<div class="left">
					<h1>{{logo}}</h1>
				</div>
				<div class="right">
					<form id="login" action="/users/login" method="post">
						{{#lerror}}
						<p class="error">
							{{emessage}}
						</p>
						{{/lerror}}
						<input type="email" name="email" placeholder="email" required />
						<input type="password" name="password" placeholder="password" required />
						<input type="submit" value="Login" />
					</form>
				</div>
			</nav>
		</header>
		<div id="main" role="main" class="clearfix">
			<h2 class="left">
				<span class="collecting">Collecting</span>&nbsp;<span class="data">data</span><span class="trw">&nbsp;the right way</span>
			</h2>
			<form class="right" id="register" action="/users/register" method="post">
				{{#rerror}}
				<p class="error">
					<strong>Whoa. </strong>{{emessage}}
				</p>
				{{/rerror}}
				<input type="text" name="username" placeholder="Pick a username" required />
				<input type="email" name="email" placeholder="Email address" required />
				<input type="password" name="password" placeholder="Password" pattern="^.{6,}$" title="Passwords must be > 6 characters." required />
				<input type="submit" value="Sign Up" />
			</form>
		</div>
		<aside class="clearfix">
			<div id="about" class="clearfix">
				<h2>Data management made simple</h2>
				<h3>Collaborate with groups and report on results</h3>
				<p>
					Group Data includes everything you
					need to get your collaborative data
					project up and running.
					Using familiar spreadsheet formats
					and an easy-to-use interface, you
					are minutes away from sharing
					important data with those who need it.
				</p>
				<p>
					All you need is an email address to
					sign up and start creating important
					data projects. Once logged in, you
					will have the ability to add other
					users to your projects as well as
					generate reports based on collaborative data input.
				</p>
				<div class="info clearfix">
					<div class="left">
						<p>
							<i class="icon-group"></i>
							Group Data is completely free to use.
							All we require is a valid email address
							to start collaborating with other users.
						</p>
						<p>
							<i class="icon-question-sign"></i>
							Upon your first login, you will be guided
							step-by-step through the process of adding
							and editing projects, adding data, adding
							users, and generating reports.
						</p>
					</div>
					<div class="right">
						<p>
							<i class="icon-cloud"></i>
							Easily import existing spreadsheets to projects.
							Your Group Data projects can also be downloaded
							for use on the spreadsheet editor of your choice.
						</p>
						<p>
							<i class="icon-bar-chart"></i>
							Generate interactive pie charts automatically according
							to the data you and your team mates have entered.
						</p>
					</div>
				</div>
			</div>
		</aside>
		{{>jslibs}}
		<script src="/js/index.js"></script>
	</body>
</html>
