{{>html5}}
	<head>
		{{>meta}}
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body class="data-page">
		{{>uheader}}
		<div class="wrapper clearfix">
			<div id="main" role="main">
				{{^datasets}}
					<p>
						You have no projects to display.
					</p>
				{{/datasets}}
				{{#datasets}}
				{{#-first}}
				<section id="data" class="clearfix">
					<h2>{{name}}</h2>
					<a class="cloud hint--left" data-hint="Import dataset"><i class="icon-cloud-upload"></i></a>
					<a class="circle-btn hint--left" data-hint="Add a column"><i class="icon-plus"></i></a>
					<table>
						<thead>
							<tr>
								{{#headers}}
								<th>
									<h6 contenteditable="true">{{this}}</h6>
									{{>types}}
								</th>
								{{/headers}}
							</tr>
						</thead>
						<tbody>
							{{#rows}}
							<tr>
								{{#this.values}}
								<td contenteditable="true">{{this}}</td>
								{{/this.values}}
							</tr>
							{{/rows}}
						</tbody>
					</table>
					<a class="cloud bottom hint--left" data-hint="Export dataset"><i class="icon-cloud-download"></i></a>
					<a class="circle-btn hint--left" data-hint="Add a row"><i class="icon-plus"></i></a>
					<a class="circle-btn hint--left" data-hint="Save changes"><i class="icon-save"></i></a>
				</section>
				{{/-first}}
				{{/datasets}}
			</div>
			{{>plist}}
		</div>
		{{>jslibs}}
	</body>
</html>
