{{>html5}}
	<head>
		{{>meta}}
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body class="data-page">
		{{>uheader}}
		<div class="wrapper clearfix">
			<div id="main" role="main">
				{{#datasets}}
				{{#-first}}
				<section id="data" class="clearfix" data-uuid="{{this.UUID}}" data-intro="Use the list on the left to go between projects." data-step="5">
					<h2>{{name}}</h2>
					<a id="upload" class="cloud hint--left" data-hint="Import dataset" data-intro="Or import a datafile." data-step="3">
						<i class="icon-cloud-upload"></i>
					</a>
					<a id="rm-col" class="circle-btn hint--left" data-hint="Remove a column"><i class="icon-minus"></i></a>
					<a id="add-col" class="circle-btn hint--left" data-hint="Add a column"><i class="icon-plus"></i></a>
					<table id="data-table" data-intro="You can edit the table cells! Note that headings cannot have spaces or punctuation in them." data-step="2">
						<thead>
							<tr>
								{{#headers}}
								<th>
									<h6 contenteditable="true">{{this}}</h6>
								</th>
								{{/headers}}
							</tr>
						</thead>
						<tbody>
							{{#rows}}
							<tr>
								{{#this.values}}
								<td contenteditable="true">{{this}}</td>
								{{/this.values}}
							</tr>
							{{/rows}}
						</tbody>
					</table>
					<a id="download" href="/download/dataset?uuid={{UUID}}" class="cloud bottom hint--left" data-hint="Export dataset">
						<i class="icon-cloud-download"></i>
					</a>
					<a id="rm-row" class="circle-btn hint--left" data-hint="Remove bottom row"><i class="icon-minus"></i></a>
					<a id="add-row" class="circle-btn hint--left" data-hint="Add a row" data-intro="But remember to save your changes." data-step="4">
						<i class="icon-plus"></i>
					</a>
					<a id="save" class="circle-btn hint--left" data-hint="Save changes"><i class="icon-save"></i></a>
				</section>
				{{/-first}}
				{{/datasets}}
				<div id="drop-zone">Drop <code>.csv</code> or <code>.tsv</code> file here</div>
			</div>
			{{>plist}}
		</div>
		{{>jslibs}}
		<script src="/js/data.js"></script>
	</body>
</html>
