{{>html5}}
	<head>
		{{>meta}}
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body class="projects-page">
		{{>uheader}}
		<div class="wrapper clearfix">
			<div id="main" role="main">
				{{^datasets}}
					<p>
						You have no projects to display.
					</p>
				{{/datasets}}
				{{#datasets}}
				{{#-first}}
				<section id="description">
					<h2>{{name}}</h2>
					<time id="created" datetime="{{datetime}}">{{datetime}}</time>
					<p>{{description}}</p>
				</section>
				<section id="collaborators">
					{{#collaborators}}
					{{#-first}}
					<h3>Collaborators</h3>
					<ul>
					{{/-first}}
						<li data-uid="{{this.UUID}}">{{this.username}}</li>
					{{#-last}}
					</ul>
					{{/-last}}
					{{/collaborators}}
					<a class="circle-btn align-right hint--left" data-hint="Add a collaborator"><i class="icon-plus"></i></a>
				</section>
				{{/-first}}
				{{/datasets}}
			</div>
			{{>plist}}
		</div>
		{{>jslibs}}
		<script src="/js/projects.js"></script>
	</body>
</html>
