{{>html5}}
	<head>
		{{>meta}}
		<link rel="stylesheet" href="/css/normalize.css" />
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<header>
			<nav>
				<form action="/users/logout" method="post">
					<input type="submit" value="Logout" />
				</form>
				<a href="/projects">Show me my projects</a>
				<a href="/projects/data">Edit the data</a>
				<a href="/projects/stats">Show me some statistics</a>
			</nav>
		</header>
		<h1>Welcome {{user.username}}!</h1>
		<p>
			These are all of your projects.
		</p>
		<script src="js/main.js"></script>
	</body>
{{>close}}
