{{>html5}}
	<head>
		{{>meta}}
		<link rel="stylesheet" href="/css/hint.min.css" />
		<link rel="stylesheet" href="/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body class="projects-page">
		{{>uheader}}
		<div class="wrapper clearfix">
			<div id="main" role="main">
				<section id="description">
					<h2>Test Project 1</h2>
					<time datetime="2001-05-15 19:00">May 15</time>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Ut non massa mi, at rutrum diam. Pellentesque luctus aue
						farnec ipsum sit ulmcorper sit amet ornare lorem feugit.
					</p>
				</section>
				<section id="collaborators">
					<h3>Collaborators</h3>
					<ul>
						<li class="manage">John Doe</li>
						<li>Jane Smith</li>
						<li>Curly Chris</li>
					</ul>
					<a class="plus-add-btn align-right hint--left" data-hint="Add a collaborator"><i class="icon-plus"></i></a>
				</section>
			</div>
			{{>plist}}
		</div>
	</body>
{{>close}}
