{{>html5}}
	<head>
		{{>meta}}
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body class="stats-page">
		{{>uheader}}
		<div class="wrapper clearfix">
			<div id="main" role="main" data-intro="Use the list on the left to go between datasets." data-step="2">
				{{#datasets}}
				{{#-first}}
				<section id="statistics" data-uuid="{{UUID}}">
					<h2>{{name}}</h2>
					{{#datasets}}
					{{#-first}}
					Row number to generate chart from:
					<select id="row" data-intro="Choose a row of the datset." data-step="3">
						{{#rows}}
						<option value="{{-index}}">{{-index}}</option>
						{{/rows}}
					</select>
					({{rows.size}} rows to choose from.)
					{{/-first}}
					{{/datasets}}
				</section>
				<section id="chart" data-intro="And you'll get a pie chart." data-step="4"></section>
				{{/-first}}
				{{/datasets}}
			</div>
			{{>plist}}
		</div>
		{{>jslibs}}
		<script src="/js/raphael.min.js"></script>
		<script src="/js/g.raphael.min.js"></script>
		<script src="/js/g.pie.min.js"></script>
		<script src="/js/stats.js"></script>
	</body>
</html>
