{{>html5}}
	<head>
		{{>meta}}
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body class="stats-page">
		{{>uheader}}
		<div class="wrapper clearfix">
			<div id="main" role="main">
				{{#datasets}}
				{{#-first}}
				<section id="statistics" data-uuid="{{UUID}}">
					<h2>{{name}}</h2>
					{{#datasets}}
					{{#-first}}
					<label for="row">Row number to generate chart from:</label>
					<select id="row">
						{{#rows}}
						<option value="{{-index}}">{{-index}}</option>
						{{/rows}}
					</select>
					{{/-first}}
					{{/datasets}}
				</section>
				<section id="chart"></section>
				{{/-first}}
				{{/datasets}}
			</div>
			{{>plist}}
		</div>
		{{>jslibs}}
		<script src="/js/raphael.min.js"></script>
		<script src="/js/g.raphael.min.js"></script>
		<script src="/js/g.pie.min.js"></script>
		<script src="/js/stats.js"></script>
	</body>
</html>
