{{>html5}}
	<head>
		{{>meta}}
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body class="stats-page">
		{{>uheader}}
		<div class="wrapper clearfix">
			<div id="main" role="main">
				{{#datasets}}
				{{#-first}}
				<section id="statistics">
					<h2>{{name}}</h2>
					<dl>
						<dt>Mean</dt>
						<dd>30.0</dd>
						<dt>Medium</dt>
						<dd>3.50</dd>
						<dt>Standard Deviation</dt>
						<dd>3.00</dd>
					</dl>
				</section>
				<section id="charts">
					<a class="tab">Apple Pie</a>
					<a class="tab">Some Lines</a>
					<div id="chart"></div>
				</section>
				{{/-first}}
				{{/datasets}}
			</div>
			{{>plist}}
		</div>
		{{>jslibs}}
	</body>
</html>
