@charset "utf-8";

html {
	-webkit-text-size-adjust: 100%;
}

body {
	padding-bottom: 95px;
}

[placeholder]:focus::-webkit-input-placeholder {
	transition: text-indent 0.5s 3s ease;
	text-indent: -100%;
	opacity: 1;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

a,
input[type="button"],
input[type="submit"] {
	cursor: pointer;
}

@-webkit-keyframes barberpole {
	from { background-position: 0 0; }
	to   { background-position: 60px 30px; }
}

@-moz-keyframes barberpole {
	from { background-position: 0 0; }
	to   { background-position: 60px 30px; }
}

/*
[contentEditable="true"]:focus {
	-webkit-animation: barberpole 0.5s linear infinite;
	animation: barberpole 0.5s linear infinite;
	-webkit-transition: background-color 1s ease;
	-moz-transition: background-color 1s ease;
	outline: none;
	background-color: rgba(0, 0, 0, 0.03);
	background-size: 30px 30px;
	background-image: -moz-linear-gradient(
	    45deg,
	    #fff 25%,
	    transparent 25%,
	    transparent 50%,
	    #fff 50%,
	    #fff 75%,
	    transparent 75%,
	    transparent
	);
	background-image: -webkit-linear-gradient(
	    180deg,
	    rgba(0, 0, 0, 0.04) 25%,
	    transparent 25%,
	    transparent 50%,
	    rgba(0, 0, 0, 0.04) 50%,
	    rgba(0, 0, 0, 0.04) 75%,
	    transparent 75%,
	    transparent
	);
}
*/

menu {
	margin: 0;
	padding-left: 0;
}

.projects-page .projects-link,
.data-page .data-link,
.stats-page .stats-link,
.admin-projects .admin-projects-tab,
.admin-users .admin-users-tab {
	background: #f6f6f6;
	display: inline-block;
	font: 16pt "Avenir Heavy";
	text-transform: uppercase;
	color: #2e2e2e;
	padding: 10px 20px 10px 20px;
	border-bottom: 1px solid #f6f6f6;
	border-left: 1px solid #9b9a9a;
	border-right: 1px solid #9b9a9a;
	border-top: 1px solid #9b9a9a;
	text-shadow: 1px 1px 0px #fff;
	text-decoration: none;
	box-shadow: none;
}

.projects-page .projects-link:hover {
	color: #656565;
	background-color: #f6f6f6;
}

.hint--right,
.hint--left {
	font-weight: normal;
}
