@charset "utf-8";

@import "fonts.css";
@import "common.css";

body {
	background: #e2e1e1;
	margin: 0;
	background-image: url("../imgs/surface.png");
}

header {
	background: rgba(0, 0, 0, 0.7);
	height: 94px;
	width: 100%;
	border-bottom: 1px solid #000;
	text-align: center;
	margin-bottom: 50px;
	box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.3);
}

header h1 {
	width: 202px;
	height: 0;
	margin: 0;
	padding: 116px 0 0 0;
	background: url("../imgs/logo.png") no-repeat;
	overflow: hidden;
}

nav {
	font: 10pt sans-serif;
	width: 966px;
	margin: 0 auto;
}

nav .left {
	float: left;
	width: 200px;
}

nav .right {
	width: 926px;
	position: relative;
	padding-top: 47px;
	text-align: left;
	left: 40px;
	z-index: 500;
	margin: -1px 0 0 0;
}

nav .tab {
	padding: 10px 20px 10px 20px;
	background: #edebeb;
	display: inline-block;
	font: 16pt "Avenir Heavy";
	text-transform: uppercase;
	color: #9a9a9a;
	border-bottom: 1px solid #9b9a9a;
	text-shadow: 1px 1px 0px #fff;
	box-shadow: inset 0px -3px 15px rgba(0, 0, 0, 0.1);
	text-decoration: none;
}

nav .tab:hover {
	color: #757575;
	background-color: #e5e3e3;
}

nav .logout {
	padding: 20px 20px 10px 20px;
	display: inline-block;
	font: 13pt "Avenir Heavy";
	text-transform: uppercase;
	color: #f6f6f6;
	text-shadow: 1px 1px 0px #000;
	float: right;
	text-decoration: none;
}

nav logout:hover {
	color: #e4e4e4;
}

.wrapper {
	font: 10pt sans-serif;
	width: 966px;
	margin: 0 auto;
}

#main {
	width: 684px;
	float: right;
	min-height: 250px;
	background: #f6f6f6;
	margin-top: -51px;
	border: 1px solid #9b9a9a;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
	padding: 20px;
}

#main h2,
#main h3 {
	font-family: "Avenir Heavy";
	text-shadow: 1px 1px 0px #fff;
	color: #2e2e2e;
	line-height: 20px;
	margin: 0;
	display: inline-block;
	font-weight: normal;
}

#main h2 {
	font-size: 22pt;
}

#main h3 {
	font-size: 13pt;
	text-transform: uppercase;
}

aside {
	width: 240px;
	float: left;
}

aside menu h6 {
	margin: 20px 0;
	padding-left: 35px;
	font: 13pt sans-serif;
}

aside ul {
	list-style-type: none;
	font-size: 13pt;
	margin-top: 20px;
	padding: 0;
	text-shadow: 1px 1px 0px #fff;
	border-top: 1px solid #d0cfcf;
	padding-top: 0px;
	border-left: 1px solid #d0cfcf;
}

aside ul li {
	padding: 6px 0 6px 35px;
	margin-top: 0px;
	border-bottom: 1px solid #d0cfcf;
	box-shadow: inset -10px 10px 10px rgba(255, 255, 255, 0.2);
}

aside ul li a:link,
aside ul li a:active,
aside ul li a:visited {
	color: #000;
	text-decoration: none;
}

aside ul li a:hover {
	color: #555;
}

aside ul li:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

aside ul li[data-selected] {
	background: url("../imgs/star.png") no-repeat top left;
}

aside ul li.current {
	background-color: rgba(170, 170, 170, 0.1);
}

a.grey-add-btn,
a.green-add-btn {
	background: url("../imgs/addicon.png") no-repeat top left;
	color: #fff;
	box-shadow: 1px 1px 0px #fff;
	font: 11pt "Avenir Heavy";
	padding: 5px 20px 4px 40px;
	margin-right: 5px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	display: inline-block;
	text-transform: uppercase;
	border-radius: 15px;
	height: 20px;
	text-decoration: none;
}

a.grey-add-btn {
	background-color: #c1bfbf;
	border: 1px solid #908e8e;
}

a.grey-add-btn:hover {
	background-color: #b6b6b6;
}

a.green-add-btn {
	background-color: #54b2a2;
	border: 1px solid #44756d;
}

a.green-add-btn:hover {
	background-color: #479e8f;
}

.green {
	background: #54b2a2;
	color: #fff;
	border: 1px solid #44756d;
	box-shadow: 1px 1px 0px #fff;
	font: 12pt "Avenir Heavy";
	padding: 5px 20px 5px 20px;
	margin-right: 5px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	border-radius: 15px;
	display: inline-block;
	height: 18px;
	text-decoration: none;
}

.green:hover {
	background-color: #479e8f;
}

.circle-btn {
	background: #54b2a2;
	border: 1px solid #44756d;
	border-radius: 20px;
	width: 15px;
	height: 15px;
	padding: 2px 3px 6px 5px;
	display: inline-block;
	color: #f6f6f6;
	text-decoration: none;
	font-size: 12pt;
	text-shadow: -1px -1px 0 #44756d,
	              1px -1px 0 #44756d,
	             -1px  1px 0 #44756d,
	              1px  1px 0 #44756d;
}

.circle-btn:hover {
	background: #479e8f;
}

.align-right {
	float: right;
	margin-left: 20px;
}

#description {
	width: 380px;
	float: left;
	margin: 20px 0 0;
	padding: 0 20px 0 0;
	border-right: 1px solid #e6e5e5;
	height: 90%;
	font-size: 12pt;
}

time {
	display: block;
	background: #e6e5e5;
	color: #878787;
	margin: 15px 0 15px 0;
	padding: 5px 10px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6);
	font-size: 9pt;
}

#collaborators {
	float: left;
	width: -webkit-calc(100% - 421px);
	width: calc(100% - 421px);
	padding-left: 20px;
	margin: 60px 0 0 -1px;
	border-left: 1px solid #e6e5e5;
}

#collaborators ul {
	border: 1px solid #c6c6c6;
	background: #f0efef;
	text-shadow: 1px 1px 0 #fff;
	padding: 0;
}

#collaborators ul li {
	list-style-type: none;
	padding: 8px 0px 8px 33px;
}

#collaborators ul li:nth-child(odd) {
	background-color: #e6e5e5;
}

#collaborators ul li.manage {
	background: url("../imgs/star.png") no-repeat top left;
}

#data {
	width: 100%;
	margin: 20px 0 0;
}

#data a {
	cursor: pointer;
	float: right;
	margin-right: 20px;
}

.cloud {
	font-size: 20pt;
	color: #000;
	text-decoration: none;
}

.cloud:hover {
	color: #343434;
}

#data table {
	width: 100%;
	margin-top: 15px;
	border-collapse: collapse;
}

#data table thead {
	background: #c1bfbf;
	color: #555;
	font: 14pt "Avenir Heavy";
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
	text-align: left;
}

#data table thead tr {
	border: 1px solid #3a4745;
}

#data table th {
	padding: 5px 0 5px 10px;
}

#data table th h6 {
	padding: 5px;
	margin: 0;
	text-align: center;
}

#data table th:last-child {
	padding-right: 10px;
}

#data table td {
	text-align: center;
	padding: 5px 0 5px 10px;
	text-shadow: 1px 1px 0px #fff;
}

#data table tbody tr {
	border-left: 1px solid #a2a2a2;
	border-right: 1px solid #a2a2a2;
	background-color: #e8e8e8;
}

#data table tbody tr:nth-child(odd) td {
	background-color: #efefef;
}

#data table tbody:last-child {
	border-bottom: 2px solid #a2a2a2;
}

#data table select {
	background: #e8e8e8;
	border: 1px solid #a4a3a3;
	font-size: 9pt;
	width: 100%;
}

#drop-zone {
	display: none;
	border: 2px dashed #bbb;
	margin-top: 10px;
	border-radius: 4px;
	text-align: center;
	font: 20pt "Avenir Heavy";
	padding: 50px 0;
	color: #bbb;
	box-shadow: inset 0px 5px 10px -1px rgba(0, 0, 0, .5);
}

#data table ~ a {
	margin-top: 15px;
}

#statistics {
	margin-top: 20px;
}

#statistics h2 {
	display: block;
	margin-bottom: 20px;
}

#statistics label {
	padding-right: 10px;
}

#chart {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #edebeb;
	border: 1px solid #a5a4a4;
	margin-top: 20px;
}

/***************************
 ADMINISTRATORS PROJECT LIST
 ***************************/

#left-list {
	float: left;
	width: 221px;
	border-right: 1px solid #6b6b6b;
	padding-top: 20px;
}

#left-list a {
	margin-top: 20px;
}

#left-list > table {
	border-collapse: collapse;
	background: #e8e8e8;
	width: 200px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #6b6b6b;
}

#left-list > table th:first-child,
#left-list > table td:first-child {
	background: #dcdcdc;
	width: 20px;
	padding: 0 5px;
	border-right: 1px solid #6b6b6b;
}

#left-list > table th:last-child {
	background: #c1bfbf;
	font: 13pt "Avenir Heavy";
	padding: 5px 10px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

#left-list > table thead tr {
	border-bottom: 1px solid #6b6b6b;
}

#left-list > table tr:nth-child(odd) {
	background: #efefef;
}

#left-list > table th {
	text-align: left;
}

#left-list > table td {
	padding: 7px 0px 7px 0px;
}

#left-list > table td:last-child {
	padding-left: 10px;
}

/*************************
 ADMINISTRATORS RIGHT LIST
 *************************/

#right-list {
	float: left;
	width: 421px;
	border: 1px solid #6b6b6b;
	margin-left: -1px;
	background: #e8e8e8;
	padding: 20px;
}

#right-list h1 {
	margin: 0;
}

#right-list > p {
	background: #dcdcdc;
	padding: 15px;
	float: left;
	margin: 20px 20px 0 0;
	width: 140px;
}

#right-list table {
	border-collapse: collapse;
	background: #e8e8e8;
	width: 190px;
	margin: 0 0 15px 0;
	border: 1px solid #6b6b6b;
}
#right-list table td:first-child {
	border-right: 1px solid #6b6b6b;
	border-left: 1px solid #6b6b6b;
	background: #dcdcdc;
	padding: 0 5px 0 5px;
	width: 20px;
}

#right-list table tr:nth-child(odd) {
	background: #efefef;
}

#right-list table td {
	padding: 7px 0px 7px 30px;
}

#right-list table td.manage {
	background: url('../imgs/star.png') no-repeat left top;
}

#right-list p a.circle-btn {
	display: block;
	margin-top: 10px;
}

.table-right {
	float: left;
	width: 190px;
	margin: 20px 0 0 0;
}

.table-right a {
	float: right;
	margin-left: 5px;
}
