@CHARSET "utf-8";

@font-face {
    font-family: 'avenirheavy';
    src: url('../fonts/avenir-heavy-webfont.eot');
    src: url('../fonts/avenir-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-heavy-webfont.woff') format('woff'),
         url('../fonts/avenir-heavy-webfont.ttf') format('truetype'),
         url('../fonts/avenir-heavy-webfont.svg#avenir_85_heavyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avenirlight';
    src: url('../fonts/avenirlight-webfont.eot');
    src: url('../fonts/avenirlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenirlight-webfont.woff') format('woff'),
         url('../fonts/avenirlight-webfont.ttf') format('truetype'),
         url('../fonts/avenirlight-webfont.svg#avenirlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: #abcdbf;
	margin: 0;
	height: 100%;
}

.container {
	width: 966px;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 10pt;
}

/** TOP NAV **/

nav {
	background: rgba(0, 0, 0, 0.7);
	height: 94px;
	width: 100%;
	border-bottom: 1px solid #000000;
	text-align: center;
	margin-bottom: 50px;
	box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.3);
}

nav .left {
	float: left;
	width: 200px;
}

nav .right {
	width: 920px;
	position: relative;
	padding-top: 47px;
	text-align: left;
	left: 40px;
	z-index: 500;
}

.logout {
	padding: 20px 20px 10px 20px;
	display: inline-block;
	font-family: avenirheavy;
	text-transform: uppercase;
	color: #f6f6f6;
	font-size: 13pt;
	margin-right: 10px;
	text-shadow: 1px 1px 0px #000000;
	float: right;
	text-decoration: none;
}

a.logout:hover {
	color: #e4e4e4;
}


/** MAIN CONTENT **/

.top {
	background: #c4e5d6;
	height: 300px;
	margin: -50px 0 0 0;
	padding: 70px 0 0 0;
}

#kitten {
	width: 310px;
	height: 454px;
	background-image: url(../images/kittens.png);
	float: left;
	margin: 0 0 0 50px;
}

#kitten > span {
	display: none;
}

.message {
	width: 350px;
	float: left;
	margin: 80px 0 0 50px;
	background: #e2f5ed;
	padding: 60px 60px 60px 65px;
	border-radius: 200px;
	font-family: avenirheavy;
	color: #696969;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
	text-align: center;
}

.message h1 {
	/*height: 50px;*/
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 45pt;
	font-family: avenirheavy;
	font-weight: normal;
	border-bottom: 5px solid #696969;
}

.message > span:nth-child(2) {
	font-size: 20pt;
}

.message > span:last-child {
	font-size: 13pt;
}