@CHARSET "utf-8";

/**** MAIN BODY ****/

@font-face {
    font-family: 'avenirlight';
    src: url('../fonts/avenirlight-webfont.eot');
    src: url('../fonts/avenirlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenirlight-webfont.woff') format('woff'),
         url('../fonts/avenirlight-webfont.ttf') format('truetype'),
         url('../fonts/avenirlight-webfont.svg#avenirlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avenirheavy';
    src: url('../fonts/avenir-heavy-webfont.eot');
    src: url('../fonts/avenir-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-heavy-webfont.woff') format('woff'),
         url('../fonts/avenir-heavy-webfont.ttf') format('truetype'),
         url('../fonts/avenir-heavy-webfont.svg#avenir_85_heavyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: url(../images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
}

/* used for centering */
.container {
	width: 966px;
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 10pt;
}

.clear {
	clear: both;
}

/**** TOP LOGIN BAR ****/

nav {
	background: rgba(0, 0, 0, 0.7);
	height: 94px;
	width: 100%;
	border-bottom: 1px solid #000000;
	text-align: center;
	margin-bottom: 100px;
	box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.3);
}

nav .left {
	float: left;
	width: 200px;
}

nav .right {
	width: 500px;
	float: right;
	padding-top: 30px;
	text-align: right;
}

nav input {
	background: #676767;
	color: #ffffff;
	border: 1px solid #1a1a1a;
	box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 0.6);
	font-family: sans-serif;
	font-size: 13pt;
	padding: 5px 10px 5px 10px;
	margin-right: 5px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
	width: 150px;
}


nav button {
	background: #459386;
	color: #ffffff;
	border: 1px solid #1d2c2a;
	box-shadow: inset 0px 0px 1px rgba(255, 255, 255, 0.8);
	font-family: sans-serif;
	font-size: 14pt;
	padding: 4px 10px 4px 10px;
	margin-right: 5px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
	width: 100px;
	text-transform: uppercase;
}

/**** REGISTER SECTION ****/

#register {
	color: #2e2e2e;
	padding-bottom: 100px;
}

#register .left {
	width: 540px;
	text-align: right;
	font-size: 30pt;
	float: left;
	padding-right: 20px;
}

#register .right {
	width: 360px;
	text-align: left;
	font-size: 30pt;
	float: left;
	border-left: 5px solid #2e2e2e;
	padding-left: 20px;
}

.light {
	font-family: avenirlight;
}

.bold {
	font-family: avenirheavy;
}

#register input {
	background: #dadedd;
	color: #2e2e2e;
	border: 1px solid #7e8a88;
	box-shadow: inset 0px 0px 2px #ffffff;
	font-size: 15pt;
	font-family: sans-serif;
	padding: 5px 10px 5px 10px;
	margin-right: 0px;
	margin-bottom: 7px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

#fname, #lname {
	width: 150px;
}

#email, #password, #confirm {
	width: 332px;
}

#register button {
	background: #eccc59;
	color: #2e2e2e;
	border: 1px solid #787052;
	box-shadow: inset 0px 0px 2px #ffffff;
	font-family: avenirheavy;
	font-size: 14pt;
	padding: 4px 10px 4px 10px;
	margin-right: 5px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	width: 100px;
	text-transform: uppercase;
}

/**** ABOUT SECTION ****/

#about {
	background: #f6f6f6;
	width: 100%;
	border-top: 1px solid #c9cccb;
	box-shadow: 0px -1px 30px rgba(0, 0, 0, 0.1);
	height: 500px;
	padding-top: 50px;
}

#about h1 {
	font-family: avenirheavy;
	font-size: 26pt;
	text-shadow: 1px 1px 0px #ffffff;
	color: #2e2e2e;
	line-height: 20px;
}

#about h2 {
	font-family: avenirlight;
	font-size: 18pt;
	text-shadow: 1px 1px 0px #ffffff;
	color: #2e2e2e;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 50px;
}